.root {
    position: relative;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 40px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;
    transition: width 0.15s ease-in-out;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
}


.icon {
    width: 24px;
    height: 24px;
    opacity: 0.3px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.clearItem {
    width: 25px;
    height: 25px;
    opacity: 0.3;
    position: absolute;
    top: 14px;
    right: 12px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}